:root {
  --cream: #eeeddb;
  --green: #2b3c44;
  --orange: #eda147;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'VT323', monospace;
}

body {
  background: var(--cream);
}
h1,
p,
h2 {
  color: var(--green);
}
h2 {
  width: 20vw;
}

h1 {
  font-size: 3rem;
}
.howto {
  max-width: 60vw;
  /* margin: 0.1rem 0; */
}

.container {
  /* border: solid red 5px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  min-height: 70%;
  margin-right: 1.5rem;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  flex-direction: column;

  /* border: solid 3px var(--green); */
}

.maincont {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  /* border: solid red 3px; */
}
button {
  border: 3px #2b3c44 solid;
  background: #2b3c44;
  color: #eda147;
  margin: 1rem;
  font-size: 2vw;
}
button:focus,
button:active,
button:hover {
  box-shadow: 2px 4px var(--green);
  border: solid 3px var(--green);
  outline-color: var(--orange);
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #2b3c44;
  width: 20vw;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  border: 3px #2b3c44 solid;
  margin: 1rem;
}

form label {
  margin: 1rem;
  padding: 1rem;
  color: #eeeddb;
}

form input,
form textarea {
  border: 3px black solid;
  border-radius: 10px;
  padding: 0.5rem;
  margin-bottom: 0.9rem;
}

.placetext {
  font-size: 100%;
}

@media all and (max-width: 965px) {
  .howto {
    width: 60vw;
  }
  form {
    width: 60vw;
  }
  input,
  textarea {
    width: 20vw;
  }
}
